<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <!-- <link rel="stylesheet" href="/stylesheets/cart.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-['helvetica_now_display']">

    <%- include('./partials/header') %>

        <div class="max-w-6xl mx-auto py-12 px-6 grid grid-cols-3 gap-10">

            <div class="col-span-2">

                <% user.cart.forEach(function(product){ %>

                    <div class="bg-white rounded-2xl shadow-lg p-6 mb-5 flex gap-8 items-center">

                        <div class="w-40 h-40 flex items-center justify-center rounded-xl 
                    bg-[<%= product.bgcolor %>]">
                            <img class="max-h-32" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                alt="">
                        </div>

                        <div class="flex-1">

                            <div class="flex justify-between items-center p-4 rounded-xl 
                        bg-[<%= product.panelcolor %>]">

                                <h3 class="text-xl font-semibold">
                                    <%= product.name %>
                                </h3>

                                <div class="flex items-center gap-4 px-4 py-2 rounded-lg text-white 
                            bg-[<%= product.textcolor %>]"> 
                                    <div class="cursor-pointer text-lg">
                                        <a href="/cart/update/<%= product._id %>">+</a>
                                    </div>
                                    <div class="font-semibold">01</div>
                                    <div class="cursor-pointer text-lg">
                                        <a href="">-</a>
                                    </div>
                                </div>

                            </div>

                            <div class="mt-6 space-y-3 text-gray-600">
                                <div class="flex justify-between">
                                    <span>Price</span>
                                    <span class="font-semibold">
                                        ₹ <%= product.price %>
                                    </span>
                                </div>

                                <div class="flex justify-between">
                                    <span>Discount</span>
                                    <span class="text-green-600">
                                        ₹ <%= product.discount %>
                                    </span>
                                </div>
                            </div>

                            <div class="mt-6 text-right">
                                <form action="/cart/delete/<%= product._id %>" method="POST">
                                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg 
                                    hover:bg-red-600 active:scale-95 
                                     transition duration-200 text-sm font-medium">
                                        Remove
                                    </button>
                                </form>
                            </div>

                        </div>

                    </div>

                    <% }) %>
            </div>

            <div class="bg-white rounded-2xl shadow-lg p-6 h-fit">

                <h3 class="text-lg font-semibold mb-6">Price Breakdown</h3>

                <div class="space-y-4 text-gray-600">

                    <div class="flex justify-between">
                        <span>Total MRP</span>
                        <span>₹ <%= totalmrp %></span>
                    </div>

                    <div class="flex justify-between">
                        <span>Discount on MRP</span>
                        <span class="text-green-600">
                            ₹ <%= totaldiscount %>
                        </span>
                    </div>

                    <div class="flex justify-between">
                        <span>Platform Fee</span>
                        <span>₹ 20</span>
                    </div>

                    <div class="flex justify-between">
                        <span>Shipping Fee</span>
                        <span class="text-green-600">FREE</span>
                    </div>

                </div>

                <div class="border-t my-6"></div>

                <div class="flex justify-between text-xl font-bold">
                    <span>Total Amount</span>
                    <span>₹ <%= totalamount %></span>
                </div>

                <button class="mt-6 w-full bg-black text-white py-3 rounded-xl 
                       hover:opacity-90 transition">
                    Proceed to Checkout
                </button>

            </div>

        </div>

</body>


</html>