<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/shop.css">
</head>

<body>

    <%- include('./partials/header') %>

      <% if(success.length>0){ %>
        <div class="success-box">
            <span class="success-text">
                <%= success %>
            </span>
        </div>
        <% } %>
        
    <div class="container"> 

        <aside class="sidebar">

            <div class="sort-box">
                <h3>Sort By</h3>
                <select>
                    <option>Popular</option>
                    <option>Newest</option>
                </select>
            </div>

            <div class="links-group">
                <a href="#">New Collection</a>
                <a href="#">All Products</a>
                <a href="#">Discounted Products</a>
            </div>

            <div class="links-group">
                <a href="#">Filter By :</a>
                <a href="#">Availability</a>
                <a href="#">Discount</a>
            </div>

        </aside>

        <main class="products-section">

            <div class="products-grid">

                <% products.forEach(function(product) { %>
                    <div class="product-card">
                        <div class="product-image bg-[<%= product.bgcolor %>]">
                            <img src= "data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                        </div>
                        <div class="product-info bg-[<%= product.panelcolor %>] text-[<%= product.textcolor %>]">
                            <div>
                                <h3><%= product.name %></h3>
                                <h4>₹ <%= product.price %></h4>
                            </div>
                            <a href="/addtocart/<%= product._id %>" class="add-btn">+</a>
                        </div>
                    </div>
                <% }) %>
            </div>

        </main>

    </div>

</body>

</html>


